/* Global style */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


/*Nav bar and header*/

nav{
    background-color:#9b111e;
    font-size: 19px;
  
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    
 
    

    
}
nav ul li{
    padding:  1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 2rem;
     





}

nav ul  :nth-child(2){
    background-color: white;

}
nav ul  :nth-child(3){
    background-color:white;

}
nav ul  :nth-child(4){
    background-color:white;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    

}

/*Main Content*/


#h1-head{
    background-color:#9b111e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.3rem;
    font-size: 30px;
    padding-top: 6rem;
    
    
}
#h1-head h1{
    background-color: white;
    padding: 70px;
    font-weight:normal;
    border-radius: 5%;
    text-align: left;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}
.white-sp{
    padding-bottom: 30vh;
    background-color: white;

}

.about-me-id{
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
justify-content: center;
padding-top: 2rem;
padding-bottom: 2rem;

}
.h2-index{
    text-align:center;
    padding: 1rem;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


}
.h2-index div{
    text-align: center;
  

}



.img{
    display: flex;
  justify-content: center;
    align-items: center;
  
 

}
.img a { 
 justify-content: space-between;
 padding: 0 0.5rem;
  

}

.red-sp{
    padding-bottom: 15vh;
    background-color: #9b111e;

}



#contact-ques{
    padding-bottom: 1rem;
    padding-top: 2rem;
    background-color: #9b111e;
    text-align: center;
}
#contact-ques div{
    padding-bottom: 2rem;
}
.white-spa{
    padding: 3rem;
    display: flex;
}
    


.footer{
    display: flex;
    justify-content: center;
    background-color: #9b111e;
}
.footer img{
    width:100px;
    height:80px;
}

/*Work Page*/

.Work div{
    padding-bottom: 3rem;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    
}
.study div{
    padding-bottom: 3rem;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

}
.Work h2{
    text-align: center;
}
.study h2{
    text-align: center;


}


#pdf-img{
    width: 100px;
}

#work-img{
    width: 80%;
    padding-left: 6.3rem;
    display: flex;
}
#study-img{
    width: 80%;
    padding-left: 6.3rem;
    display: flex;
}
.Work h2{
    padding-bottom: 1rem;
}
#work-his{
    margin: 5%;
    padding: 5%;
}
#study-his{
    margin: 5%;
    padding: 5%;

}


.red-sp{
    margin: 5%;
}

/*Experince Page*/


/*Interests section */
.interests{
    background-color: lightgray;
}

#int-grouped{
    display: flex;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    justify-content: center;
   
    

}
.interests p{
    padding: 2rem;
    text-align: center;
}

.interests h2{
    padding: 1.2rem;
    text-align: center;
}

/*skills section */
#skills-grouped{
    display: flex;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    

}
.skills{
    background-color: lightgray;
}
.skills p{
    padding: 2rem;
    text-align: center;
}

.skills h2{
    padding: 1.2rem;
    text-align: center;
}
/*Personality section */

#perso-grouped{
    display: flex;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    

}
.personality{
    background-color: lightgray;
}
.personality p{
    padding: 2rem;
    text-align: center;
}

.personality h2{
    padding: 1.2rem;
    text-align: center;
}